{% extends 'base_account.html' %}
{%from '_form_render.html' import render_field%}
{%block title%}找回密码{%endblock%}

{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
    <div class="container">
        <h2 class="form-signin-heading text-center">找回密码</h2>
        <div class="card card-signin">
            <img class="img-circle profile-img" src="{{url_for('static',filename='img/avatar.png')}}" alt="">
            {{wtf.quick_form(form)}}
            <img id='recaptcha' src="{{url_for('auth.generate_code')}}"/>
        </div>

<script type='text/javascript'>
    $(function(){
        $('img#recaptcha').on('click', function(){
            $(this).attr('src', ($(this).attr('src'))+'?'+Math.random())
        })
    });
</script>
    </div> <!-- /container -->
{% endblock %}
